:root {
    --font-primary: 'Ubuntu', sans-serif;
    --color-primary: #6fc9f0;
    --color-dark: rgb(63, 119, 184);
    --color-light: rgb(98, 173, 238);
    --color-gray: rgb(242, 242, 242);
    --color-gray-dark: rgb(62, 62, 62);

    --color-warning: rgb(201, 78, 78);
    --color-positive: rgb(111, 189, 111);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 62.5%;
    font-family: var(--font-primary);
}

.container {
    background: linear-gradient(to right, rgb(63, 119, 184), rgb(98, 173, 238));
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}


/* Universal */
.text-emphasis {
    font-weight: 900;
}

.btn-dark {
    background-color: var(--color-dark);
    color: white;
    font-family: var(--font-primary);
    text-transform: uppercase;
    border: none;
    border-radius: 2.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .2s;
}

.btn-negative {
    background-color: rgb(240, 104, 104);
}

.btn-small {
    padding: .5rem 1rem;
    font-size: 1.6rem;
    width: 16rem;
    height: 4rem;
}

.btn-tiny {
    padding: .2rem .5rem;
    font-size: 1.2rem;
    width: 12rem;
    height: 3rem;
}

.btn-round {
    width: 5rem;
    height: 5rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-icon {
    font-size: 2.5rem;
}

.btn-text-icon {
    margin-right: 1rem;
}

.btn-dark:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.btn-dark:active {
    transform: scale(95%);
}

.btn-disabled {
    background-color: rgb(159, 159, 159);
}

.btn-disabled:hover {
    cursor: default;
    filter: brightness(100%);
}

.btn-disabled:active {
    background-color: rgb(159, 159, 159);
    transform: scale(100%);
}

.close-modal-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: none;
    color: var(--color-dark);
}

.close-modal-btn--icon {
    font-size: 3rem;
}

.close-modal-btn:hover {
    cursor: pointer;
}

.icon-blue {
    color: var(--color-dark);
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Modal */
.modal-background {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: .8;
}

.modal-container {
    background-color: white;
    /* width: 90%; */
    /* max-width: 100rem; */
    /* height: 50rem; */
    border-radius: .5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 150;
}

.modal-header {
    color: var(--color-dark);
    font-size: 3rem;
    font-weight: 600;
    background: linear-gradient(to right, rgb(63, 119, 184), rgb(98, 173, 238));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 3rem 6rem;
}

.modal-body {
    width: 100%;
    padding: 1rem 3rem 5rem 3rem;
    font-size: 2rem;
}

.modal-box {
    background-color: var(--color-gray);
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.modal-box-header {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    padding-top: 2rem;
    color: var(--color-dark);
}

.modal-box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.modal-box-content--top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
}

.modal-box-content--bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    flex: 1;
}

.user-modal-inner {
    display: grid;
    grid-template-columns: repeat(4, 22rem);
    grid-template-rows: repeat(1, auto);
    grid-gap: 1rem;
}

.btn-container {
    justify-content: flex-end;
    height: 6rem;
}


/* 🖼 Image 🖼 */
.profile-box--image-circle {
    background-color: white;
    width: 12rem;
    height: 12rem;
    margin: 2rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.profile-box--image-circle-inner {
    width: 100%;
    height: 100%;
    position: relative;
}

.image-circle-inner--icon {
    color: rgb(145, 145, 145);
    font-size: 9rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


/* 💬 Information 💬 */
.modal-box-content--option {
    margin: .5rem 0;
    width: 90%;
}

.option-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-dark);
    width: 50%;
}

.option-input {
    background-color: transparent;
    border: none;
    border-bottom: .1rem solid var(--color-dark);
    font-size: 1.6rem;
    padding: .5rem .2rem;
    color: var(--color-gray-dark);
    font-family: var(--font-primary);
    width: 85%;
}

.option-icon-box {
    display: inline;
    width: 20%;
}

.option-icon {
    font-size: 1.6rem;
}

.option-icon-positive {
    color: var(--color-positive);
}

.option-icon-negative {
    color: var(--color-warning);
}

.modal-box-content--option:last-child {
    margin-top: 2rem;
}

.modal-inner-btn {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: .1rem;
    padding: 1rem 2rem;
}

/* ⏰ Clock ⏰ */
.clock-face {
    background-color: white;
    width: 12rem;
    height: 12rem;
    margin: 2rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}

.clock-finger {
    background-color: black;
    position: absolute;
    top: 0;
    left: 50%;
    width: .2rem;
    height: 6rem;
    transform-origin: bottom;
}

.clock-finger--hours {
    background-color: black;
    top: 3rem;
    height: 3rem;
    transform: translateX(-50%) rotate(0deg);
}

.clock-finger--minutes {
    top: .5rem;
    height: 5.5rem;
    transform: translateX(-50%) rotate(0deg);
}

.clock-finger--seconds {
    background-color: red;
    top: .5rem;
    width: .1rem;
    height: 5.5rem;
    transform: translateX(-50%) rotate(0deg);
}

.clock-center {
    background-color: black;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 150;
}

.date-text, .city-text {
    color: var(--color-dark);
    font-size: 1.5rem;
    font-weight: 300;
    margin: .5rem 0;
    text-align: center;
    line-height: 1.5;
}

.time-text, .temperature-text {
    color: var(--color-dark);
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

/* 🌤 Weather 🌤 */
.weather-icon-box {
    width: 12rem;
    height: 12rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-icon-box--icon {
    background: linear-gradient(to right, rgb(63, 119, 184), rgb(98, 173, 238));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 9rem;
    margin-bottom: 1rem;
}

.weather-text {
    color: var(--color-dark);
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: .5rem;
}


/* Navigation */
.nav {
    width: 100%;
    height: 12rem;
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title, .nav-user {
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-user {
    position: relative;
}

.nav-title--icon {
    font-size: 5rem;
    margin-right: 1rem;
}

.nav-title--name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-title--name-left, .nav-title--name-right {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.nav-title--inner-icon {
    font-size: 2.95rem;
}

.nav-notification {
    background-color: white;
    width: 30rem;
    padding: 2rem;
    position: absolute;
    top: 11rem;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.nav-notification--pointer {
    position: absolute;
    top: -3.5rem;
    right: 1rem;
    border: 1.5rem solid transparent;
    border-bottom: 2rem solid white;
}

.nav-notification--text {
    color: black;
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}


/* Main */
.main {
    width: 100%;
    min-height: calc(100vh - 20rem);
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(11, 8rem);
    grid-template-rows: repeat(6, 8rem);
    grid-gap: 1rem;
}

.box-container--time, .box-container--weather, .box-container--contacts, .box-container--groups {
    background-color: var(--color-gray);
    border-radius: .3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
}

.box-container--time {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.box-container--weather {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;
}

.box-container--contacts {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 7;
}

.box-container--groups {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 7;
}

.box-container--box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem 0;
}

.box-container--weather, .box-container--time {
    padding: 3rem 0 3rem 0;
    justify-content: space-between;
}

.box-container-icon {
    font-size: 9rem;
    background: linear-gradient(to right, rgb(63, 119, 184), rgb(98, 173, 238));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box-container-circle {
    background: linear-gradient(to right, rgb(63, 119, 184), rgb(98, 173, 238));
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-container-circle-icon {
    color: var(--color-gray);
    font-size: 8rem;
}

.info-btn {
    background-color: transparent;
    width: 4rem;
    height: 4rem;
    font-size: 2.5rem;
    position: absolute;
    top: .5rem;
    right: .5rem;
    border: none;
    transition: all .3s;
}

.info-btn:hover {
    cursor: pointer;
    filter: brightness(80%);
}

.box-container-header-large, .box-container-header-small {
    color: var(--color-dark);
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 2.4rem;
}

.box-container-btn {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: .1rem;
    padding: 1rem 2rem;
}




/* Footer */
.footer {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: white;
    font-size: 1.8rem;
    font-weight: 300;
}

.element-hidden {
    display: none;
}






/* MEDIA QUERIES */
@media only screen and (max-width: 1050px) {
    .box-container {
        grid-template-columns: repeat(11, 7rem);
        grid-template-rows: repeat(6, 7rem);
    }
    .box-container-icon {
        font-size: 7rem;
    }
    .box-container-circle {
        width: 15rem;
        height: 15rem;
    }
    .box-container-circle-icon {
        font-size: 6rem;
    }
    .box-container-header-small {
        letter-spacing: .2rem;
        font-size: 2rem;
    }
}

@media only screen and (max-width: 950px) {
    .box-container {
        grid-template-columns: repeat(11, 6rem);
        grid-template-rows: repeat(6, 6rem);
    }
    .box-container--weather, .box-container--time {
        padding: 2rem 0 2rem 0;
    }
    .box-container-icon {
        font-size: 5rem;
    }
}

@media only screen and (max-width: 830px) {
    .box-container {
        grid-template-columns: repeat(8, 6rem);
        grid-template-rows: repeat(9, 6rem);
    }

    .box-container--time {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 5;
    }
    
    .box-container--weather {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 5;
    }
    
    .box-container--contacts {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 10;
    }
    
    .box-container--groups {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 5;
        grid-row-end: 10;
    }

    .box-container--weather, .box-container--time {
        padding: 3rem 0 3rem 0;
    }
    .box-container-icon {
        font-size: 9rem;
    }
    .box-container-circle {
        width: 12rem;
        height: 12rem;
    }
    .box-container-circle-icon {
        font-size: 5rem;
    }
    .box-container-header-small {
        letter-spacing: .2rem;
        font-size: 2.4rem;
    }
}

@media only screen and (max-width: 620px) {
    .box-container {
        grid-template-columns: repeat(8, 5rem);
        grid-template-rows: repeat(9, 5rem);
    }
    .box-container-icon {
        font-size: 7rem;
    }
    .box-container-circle {
        width: 10rem;
        height: 10rem;
    }
    .box-container-circle-icon {
        font-size: 4rem;
    }
    .box-container-header-small {
        letter-spacing: .2rem;
        font-size: 2.4rem;
    }
}

@media only screen and (max-width: 600px) {
    /* Universal */
    .btn-round {
        width: 4rem;
        height: 4rem;
    }
    .btn-icon {
        font-size: 2rem;
    }

    /* Navigation */
    .nav {
        height: 9rem;
    }
    .nav-title--icon {
        font-size: 4rem;
        margin-right: 1rem;
    }
    .nav-title--name-left, .nav-title--name-right {
        font-size: 3rem;
    }
    .nav-title--inner-icon {
        font-size: 2.2rem;
    }

    /* Notifications */
    .nav-notification {
        top: 8.5rem;
    }
    
    .nav-notification--pointer {
        top: -3.2rem;
        right: .5rem;
    }

    /* Main */
    .main {
        min-height: calc(100vh - 15rem);
    }
    .user-info-modal {
        height: calc(100vh - 15rem);
    }

    /* Footer */
    .footer {
        width: 100%;
        height: 6rem;
    }
    .footer-text {
        font-size: 1.4rem;
    }
  }

  @media only screen and (max-width: 550px) {
    .box-container {
        grid-template-columns: repeat(6, 5rem);
        grid-template-rows: repeat(11, 5rem);
    }

    .box-container--time {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    
    .box-container--weather {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    
    .box-container--contacts {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 4;
        grid-row-end: 8;
    }
    
    .box-container--groups {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 8;
        grid-row-end: 12;
    }

    .box-container-icon {
        font-size: 5rem;
    }
    .box-container--box {
        padding: 1.2rem 0;
    }
    .box-container-header-large, .box-container-header-small {
        letter-spacing: .2rem;
        font-size: 1.8rem;
    }
  }


  @media only screen and (max-width: 500px) {
    /* Modal */
    .modal-background {
        display: none;
    }

    .modal-container {
        background-color: white;
        width: 100%;
        height: 100%;
        /* min-height: 100vh; */
        margin: 0 0;
        border-radius: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 150;
    }
    
    .user-modal-inner {
        display: grid;
        grid-template-columns: repeat(2, 22rem);
        grid-template-rows: repeat(2, auto);
        grid-gap: 1rem;
    }

    /* Universal */
    .btn-round {
        width: 3.5rem;
        height: 3.5rem;
    }
    .btn-icon {
        font-size: 1.6rem;
    }

    /* Navigation */
    .nav {
        padding: 0 2rem;
    }
    .nav-title--icon {
        font-size: 3rem;
        margin-right: 0;

    }
    .nav-title--name-left, .nav-title--name-right {
        font-size: 2.2rem;
    }
    .nav-title--inner-icon {
        font-size: 1.8rem;
    }


    /* Main */
    .main {
        padding: 0 2rem;
    }
  }

  @media only screen and (max-width: 400px) {
    .box-container {
        grid-template-columns: repeat(6, 4rem);
        grid-template-rows: repeat(11, 4rem);
    }
    .box-container-icon {
      font-size: 3.5rem;
    }
    .box-container-circle {
        width: 7rem;
        height: 7rem;
    }
    .box-container-circle-icon {
        font-size: 3rem;
    }
    .box-container-header-large, .box-container-header-small {
        font-size: 1.6rem;
    }
    .box-container-btn {
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: .1rem;
        padding: .6rem 1.5rem;
    }
  }
